
body{
    margin: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background: #2f2f75;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 10px 0;
    max-width: 150px;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 45px;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
#main1{

    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/1193613.jpg);
    background-size: cover;
}
#main1_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
#main2{

    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/main2.jpg);
    background-size: cover;
    top: 100%;
    background-attachment: fixed;
}
#main2_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}
#main3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/main3.jpg);
    background-size: cover;
    top: 200%;
    background-attachment: fixed;
}