body{
    background-image: url(../images/1193613.jpg);
    background-size: auto;
}
iframe{
    margin: 2% 20% 0 20%;
    width: 60%;
    height: 60%;
    align-items: center;
}
.map{
    position: absolute;
    margin-top: 10%;
    width: 100%;
    height: 100%;
}
.map p {
    color: #fac705;
    justify-items: center;
    width: 70%;
    margin: 3% 15% 0 15%;
    text-align: center;
    font-family: 'Red Rose', cursive;
    font-size: 18px;
}
.map h2{
    color: #fac705;
    font-size: 26px;
    text-align: center;
}
@media (max-width: 1000px) {
    body{
        background-image: none;
        background-color: #4f4589;
    }
    .top {
        background-color: #4f4589;
        overflow: visible;
        position: relative;
    }
    iframe {
        height: 700px;
    }
    .map {
        margin-top: 40%;
    }
@media (max-width: 500px) {
    body{
        background-image: none;
        background-color: #4f4589;
    }
    .top {
        background-color: #4f4589;
        overflow: visible;
        position: relative;
    }
    iframe {
        height: 700px;
    }
    .map {
        margin-top: 70%;
    }
    }
}