iframe{
    margin: 2% 20% 0 20%;
    width: 60%;
    height: 60%;
    align-items: center;
}
.map{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/1193613.jpg);
    background-size: auto;
}