/*This page is created for the featured recipe on main page */

.top {
    background: #2f2f75;
    background-image: none;
}
.container {
    background: #4f4589;
}

/*Recipe Card*/

.adobo_recipe {
    align-items: center;
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    border: 3px solid #4f4589;
    background-color: rgba(173, 151, 191, 0.8);
    color: #fac705; 
}
.adobo_recipe h1{
    color: #fac705;
    text-align: center;
}
.adobo_recipe li{
    width: 100%;
    margin-left: 10%;
}
.adobo_recipe p{
    color: #fac705;
}
